name: CI

on:
    push:
        branches: [ main ]
    pull_request:

jobs:
    check_composer:
        name: Check composer.json
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v5
            -   uses: shivammathur/setup-php@v2
                with:
                    coverage: none
                    php-version: '8.3'
            -   run: composer validate --strict --no-check-lock


    tests:
        name: "Tests on PHP ${{ matrix.php }}${{ matrix.name_suffix }}"
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                php: [ '8.1', '8.2', '8.3', '8.4', '8.5' ]
                os: [ubuntu-latest]
                include:
                    - php: '8.3'
                      os: windows-latest
                      name_suffix: ' on Windows'
                    - php: '8.3'
                      os: macos-latest
                      name_suffix: ' on macOS'

        steps:
            -   if: ${{ runner.os == 'Windows' }}
                run: git config --global core.autocrlf false

            -   name: Checkout
                uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    coverage: "none"
                    php-version: "${{ matrix.php }}"
                    ini-file: development

            -   name: Install dependencies
                run: composer update --ansi --no-progress

            -   name: Run tests
                run: vendor/bin/phpunit --colors=always

    static_analysis:
        name: Static analysis
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    coverage: "none"
                    php-version: "8.3"
                    ini-file: development

            -   name: Install dependencies
                run: composer update --ansi --no-progress

            -   name: Run phpstan
                run: vendor/bin/phpstan analyse --ansi --no-progress

    coding_styles:
        name: Coding styles
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    coverage: "none"
                    php-version: "8.3"
                    ini-file: development

            -   name: Install dependencies
                run: composer update --ansi --no-progress

            -   name: Run phpcs
                run: vendor/bin/phpcs --extensions=php src tests
